* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  margin: 0;
  background: radial-gradient(#8cf39c, #56b5e6);
  font-family: "Roboto", sans-serif;
}

.game-info-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
}

.game-info {
  font-size: 4em;
  color: #db8979;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  margin: 50px;
  justify-content: center;
  perspective: 500px;
}

.card {
  position: relative;
  height: 175px;
  width: 125px;
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  backface-visibility: hidden;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  transition: transform 500ms ease-in-out;
}

.card.visible .card-back {
  transform: rotateY(-180deg);
}

.card.visible .card-front {
  transform: rotateY(0);
}

.overlay-text {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: 100;
  color: #db8979;
}

.overlay-text-noclick {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: 100;
  color: #db8979;
}

.overlay-text-small {
  font-size: 0.3em;
}

.overlay-text.visible {
  display: flex;
  flex-direction: column;
  animation: overlay-grow 500ms forwards;
}

.overlay-text-noclick.visible {
  display: flex;
  flex-direction: column;
  animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 10em;
  }
}

.card-back {
  border-color: #56b5e6;
}

.card-front {
  border-color: #56b5e6;
  transform: rotateY(180deg);
}

.card-value {
  transition: transform 100ms ease-in-out;
  width: 100%;
  height: 70%;
  transform: scale(0.7);
}

.card-front:hover .card-value {
  transform: scale(0.85);
}

.github {
  width: 100%;
  height: 70%;
  transform: scale(0.7);
  transform: translateY(-10px);
  transition: transform 100ms ease-in-out;
}

.card-back:hover .github {
  transform: translateY(0);
}

@media (max-width: 600px) {
  .game-container {
    grid-template-columns: repeat(2, auto);
  }

  .game-info-container {
    flex-direction: column;
    align-items: center;
  }
}

/* score submit */
.score-submit {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
}

.score-submit button {
  padding: 10px 20px;
  background-color: rgba(121, 219, 185, 0.35);
  border: 1.5px solid #79dbb9;
  color: #db8979;
  text-transform: uppercase;
  font-size: 0.3em;
  cursor: pointer;
  margin: 0px 5px;
}

.hidden {
  display: none;
}

.score-submit div {
  margin: 0px 5px;
}

.score-submit a {
  text-decoration: none;
  padding: 10px 20px;
  background-color: rgba(121, 219, 185, 0.35);
  border: 1.5px solid #79dbb9;
  color: #db8979;
  text-transform: uppercase;
  font-size: 0.3em;
  cursor: pointer;
  margin: 0px 5px;
}

.score-submit button:hover {
  border: 1px solid #5cb3da;
}

.score-submit a:hover {
  border: 1px solid #5cb3da;
}

@media (max-width: 800px) {
  .score-submit button,
  .score-submit a {
    margin: 10px 0 10px 0;
  }

  .score-submit a {
    text-align: center;
  }

  .score-submit {
    flex-direction: column;
    align-items: stretch;
  }
}
